Core/WanoControlCenter.Web/WanoControlCenter.Web/Service References/WanoService/WanoCCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WanoCCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.RegisterCard" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCCCommon.Models" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.ControllerConfigure" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://localhost:8095/WCC?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWanoService_RegisterCard_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCard" />
  </wsdl:message>
  <wsdl:message name="IWanoService_RegisterCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCardResponse" />
  </wsdl:message>
  <wsdl:message name="IWanoService_SetExpiredDateForCard_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExpiredDateForCard" />
  </wsdl:message>
  <wsdl:message name="IWanoService_SetExpiredDateForCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExpiredDateForCardResponse" />
  </wsdl:message>
  <wsdl:message name="IWanoService_GetCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCards" />
  </wsdl:message>
  <wsdl:message name="IWanoService_GetCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IWanoService_UpdateCardsPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardsPermissions" />
  </wsdl:message>
  <wsdl:message name="IWanoService_UpdateCardsPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardsPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWanoService_ConnectToController_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToController" />
  </wsdl:message>
  <wsdl:message name="IWanoService_ConnectToController_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToControllerResponse" />
  </wsdl:message>
  <wsdl:message name="IWanoService_GetController_InputMessage">
    <wsdl:part name="parameters" element="tns:GetController" />
  </wsdl:message>
  <wsdl:message name="IWanoService_GetController_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetControllerResponse" />
  </wsdl:message>
  <wsdl:portType name="IWanoService">
    <wsdl:operation name="RegisterCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterCard/RegisterCard" message="tns:IWanoService_RegisterCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterCard/RegisterCardResponse" message="tns:IWanoService_RegisterCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExpiredDateForCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterCard/SetExpiredDateForCard" message="tns:IWanoService_SetExpiredDateForCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterCard/SetExpiredDateForCardResponse" message="tns:IWanoService_SetExpiredDateForCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterCard/GetCards" message="tns:IWanoService_GetCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterCard/GetCardsResponse" message="tns:IWanoService_GetCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCardsPermissions">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterCard/UpdateCardsPermissions" message="tns:IWanoService_UpdateCardsPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterCard/UpdateCardsPermissionsResponse" message="tns:IWanoService_UpdateCardsPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToController">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerConfigure/ConnectToController" message="tns:IWanoService_ConnectToController_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerConfigure/ConnectToControllerResponse" message="tns:IWanoService_ConnectToController_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetController">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerConfigure/GetController" message="tns:IWanoService_GetController_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerConfigure/GetControllerResponse" message="tns:IWanoService_GetController_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWanoService" type="tns:IWanoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCard">
      <soap:operation soapAction="http://tempuri.org/IRegisterCard/RegisterCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExpiredDateForCard">
      <soap:operation soapAction="http://tempuri.org/IRegisterCard/SetExpiredDateForCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <soap:operation soapAction="http://tempuri.org/IRegisterCard/GetCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardsPermissions">
      <soap:operation soapAction="http://tempuri.org/IRegisterCard/UpdateCardsPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToController">
      <soap:operation soapAction="http://tempuri.org/IControllerConfigure/ConnectToController" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetController">
      <soap:operation soapAction="http://tempuri.org/IControllerConfigure/GetController" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WanoCCService">
    <wsdl:port name="BasicHttpBinding_IWanoService" binding="tns:BasicHttpBinding_IWanoService">
      <soap:address location="http://localhost:8095/WCC" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>