Core/WanoControlCenter.Web/WanoControlCenter.Web/Service References/WanoService/WCC3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.ControllerConfigure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.ControllerConfigure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8095/WCC?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="RequestControllerConfigure">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Gateway" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="HolidayControl" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Ip" nillable="true" type="q2:IPAddress" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Mask" nillable="true" type="q3:IPAddress" />
      <xs:element minOccurs="0" name="PcIPAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SN" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestControllerConfigure" nillable="true" type="tns:RequestControllerConfigure" />
  <xs:complexType name="ResponseControllerConfigure">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Gateway" nillable="true" type="q4:IPAddress" />
      <xs:element minOccurs="0" name="HolidayControl" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Ip" nillable="true" type="q5:IPAddress" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Mask" nillable="true" type="q6:IPAddress" />
      <xs:element minOccurs="0" name="PcIPAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="SN" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseControllerConfigure" nillable="true" type="tns:ResponseControllerConfigure" />
</xs:schema>