Core/WanoControlCenter.Web/WanoControlCenter.Web/Service References/WanoService/WCC4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCCCommon.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCCCommon.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArrayOfStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfStatus" nillable="true" type="tns:ArrayOfStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfStatus" nillable="true" type="tns:ArrayOfArrayOfStatus" />
  <xs:complexType name="ArrayOfStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatus" nillable="true" type="tns:ArrayOfStatus" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Blank" />
      <xs:enumeration value="Set" />
      <xs:enumeration value="Clear" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>