Core/WanoControlCenter.Web/WanoControlCenter.Web/Service References/WanoService/WCC5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.RegisterCard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WanoControlContracts.DataContracts.RegisterCard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestRegisterCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" type="xs:int" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestRegisterCard" nillable="true" type="tns:RequestRegisterCard" />
  <xs:complexType name="ResponseRegisterCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Registered" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseRegisterCard" nillable="true" type="tns:ResponseRegisterCard" />
  <xs:complexType name="ArrayOfRequestRegisterCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestRegisterCard" nillable="true" type="tns:RequestRegisterCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestRegisterCard" nillable="true" type="tns:ArrayOfRequestRegisterCard" />
</xs:schema>